.content {
  .background {
    height: 900px;
    .title {
      padding: 35px;
      h4 {
        color: #fff;
      }
    }
    .show-list {
      display: flex;
      width: 100%;

      .show-container {
        width: 200px;
        margin: 5px;

        img {
          width: 100%;
        }
      }
    }
  }
}
