.content {
  .background {
    height: 900px;
    .title {
      padding: 35px;
      h4 {
        color: #fff;
      }
    }
    .show-list {
      display: flex;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
      .show-container {
        width: 200px;
        margin: 5px;

        img {
          max-width: 200px;
        }
      }
    }
  }
}
